header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(207, 236, 255, 0.788235294117647)), to(#cbeaff));
  background: linear-gradient(0deg, rgba(207, 236, 255, 0.788235294117647) 0%, #cbeaff 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Monserrat';
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
  transform: translateY(-25%);
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1.5rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 120, 198, 0.3215686274509804)), to(#74e7f830));
  background: linear-gradient(0deg, rgba(0, 120, 198, 0.3215686274509804) 0%, rgba(116, 231, 248, 0.18823529411764706) 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -57rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 25rem;
  width: 25rem;
  top: -8rem;
  right: 50%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
    color: #0467a7;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2.3rem;
    color: #0177c4;
  }
}


/*PANELES SECUNDARIOS*/

header.masthead2 {
  position: relative;
  overflow: hidden;
  padding-top: calc(1rem + 55px);
  padding-bottom: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(207, 236, 255, 0.788235294117647)), to(rgb(203, 234, 255)));
  background: linear-gradient(0deg, rgba(207, 236, 255, 0.788235294117647) 0%, rgb(203, 234, 255) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  font-family: 'MonserratBold';
}

header.masthead2 .masthead-content {
  z-index: 1;
  position: relative;
  transform: translateY(-25%);
}

header.masthead2 .masthead-content .masthead-heading {
  font-size: 4rem;
  color: #0467a7;
  text-shadow: 0px 0px 1px #0467a7;
}

header.masthead2 .masthead-content .masthead-subheading {
  font-size: 1.5rem;
}

header.masthead2 .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 120, 198, 0.3215686274509804)), to(rgba(116, 231, 248, 0.18823529411764706)));
  background: linear-gradient(0deg, rgba(0, 120, 198, 0.3215686274509804) 0%, rgba(116, 231, 248, 0.18823529411764706) 100%);
}

header.masthead2 .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -57rem;
  left: -55rem;
}

header.masthead2 .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead2 .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead2 .bg-circle-4 {
  height: 25rem;
  width: 25rem;
  top: -8rem;
  right: 50%;
}

@media (min-width: 992px) {
  header.masthead2 {
    padding-top: calc(1rem + 55px);
    padding-bottom: 1rem;
  }
  header.masthead2 .masthead-content .masthead-heading {
    font-size: 5rem;
    color: #0467a7;
    text-shadow: 0px 0px 1px #0467a7;
  }
  header.masthead2 .masthead-content .masthead-subheading {
    font-size: 2.3rem;
    color: #0177c4;
    text-shadow: 0px 0px 1px #0467a7;
  }
}